/* variables */
:root{
    --primary:#0A0B5B;
    --secondary:#aadfff;
}
/* base styles*/
body{
   background: var(--primary);
   color: var(--secondary);
}
nav{
    font-family: 'Satisfy', cursive;
    font-size:2em;

}
input,button{
    background:rgba(63, 58, 58, 0.05);
    color:white;
    border:2px solid var(--secondary);
    text-transform:uppercase;
}
input{
    width:40%;
    height:30px;
    border-radius:5px;
}
button{
    border-radius:10px;
    width:8%;
    height:25px;
}
button:hover{
    background:var(--secondary);
    color:white;
    
}
section{
    /* border:2px solid var(--secondary); */
    border-radius:5px;
    text-align:center;
    margin:50px 50px 50px 50px;
}
/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px){

} 
/* large tablet and laptop */
@media screen and (min-width: 960px){
    
} 
/* desktop styles */
@media screen and (min-width: 1200px){
    
} 